
{% extends "layout.html" %}
{% block title %}Partner Portal{% endblock %}
{% block head %}
  {{ super() }}

  <script type="text/javascript">

    firebase.auth().onAuthStateChanged(function(user) {
      if (user) {   
        console.log(user);
        email = user.email;
        document.getElementById("footer_username").innerHTML=email;
        document.getElementById("login").classList.add("mdl-button--disabled");
        document.getElementById("login").href="javascript:void(0);";

       console.log(JSON.stringify(user,null, 2));
                    

       document.getElementById("user_details").innerText=JSON.stringify(user,null, 2);
        
        /*
        firebase.auth().currentUser.getIdToken(true).then(function(idToken) {
          var xhr = new XMLHttpRequest();
          xhr.open('POST', '/verifyIdToken');
          xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
          xhr.send('id_token=' + idToken);
          xhr.onreadystatechange = function() {
            if (xhr.readyState == XMLHttpRequest.DONE) {
              console.log("Id token verified: " + xhr.responseText);
              email = user.email;
              document.getElementById("footer_username").innerHTML=email;
            }
          }
        }).catch(function(error) {
          alert("Unable to get ID token for current sesson: " + error);
          console.log("Unable to get ID token for current session:");
        });
        */
      } else {
        console.log("User not logged in yet");
      }
    });

    function doSAMLLogin() {
        const provider = new firebase.auth.SAMLAuthProvider('saml.myidp');
        firebase.auth().signInWithRedirect(provider);
    };

    </script>

{% endblock %}
{% block content %}

<div class="container">

  <h4>Service Provider SAML Login Portal</h4>

  <br/>

  <br/>

  <hr/>
  <div class="mdl-card__actions mdl-card--border">
    <a   id="login" name="login" class="mdl-button mdl-button--raised mdl-button--colored"  href="javascript:doSAMLLogin()">SAML Login</a> Login with SAML Provider
    <div class="mdl-layout-spacer"></div>
  </div>  

  <div class="mdl-textfield mdl-js-textfield">
    <label class="mdl-textfield__label" for="decoded_saml">User Token Details</label>
  </table>
  <pre class="mdl-textfield" type="text" rows="30" id="user_details" name="user_details" style="font-size:12px" ></pre> 




  </div>

</div>
{% endblock %}
